@tailwind base;
@tailwind components;
@tailwind utilities;

body > div:first-of-type > main {
  padding-left: 24px;
  padding-right: 24px;
}

@media screen and (min-width: 768px) {
  body > div:first-of-type > main {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (min-width: 1280px) {
  body > div:first-of-type > main {
    padding-left: 80px;
    padding-right: 80px;
  }
}

/* * {
  transition: all;
  transition-duration: 75ms;
  transition-timing-function: ease-in-out;
} */
